/* style.css */
*{
	padding: 0;
	margin: 0;
}

#page-wrap{
	margin: 100px;
}

.row{
	clear: both;
	background-color: white;
	border: 3px solid black;
	box-sizing: border-box;
}


header{
	height: 250px;
}



#content-wrap{
	height: 500px;
	background-color: white;
}

#wrapper{
	background-color: blue;
}


aside{
	float: right;
	width: 20%;
	height: 100%;
	border-right: 2px solid black;
	box-sizing: border-box;
	background-color: blue;
}

main{
	float: left;
	width: 80%;
	height: 100%;
	background-color: green;
	border-left: 2px solid black;
	box-sizing: border-box;
}


footer {
	height: 100px;
	width: 99.7%;
	background-color: pink;
	border: 3px solid black;
	display: table;
}

footer p {
	font-size: 20px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}


